/Users/koutarofukui/Documents/openframeworks Folder/of_v0072_osx_release/apps/myApps/Era_oF/Era.xcodeproj
/Users/koutarofukui/Documents/openframeworks Folder/of_v0072_osx_release/apps/myApps/Era_oF/openFrameworks-Info.plist
/Users/koutarofukui/Documents/openframeworks Folder/of_v0072_osx_release/apps/myApps/Era_oF/Project.xcconfig/Users/koutarofukui/Documents/openframeworks Folder/of_v0072_osx_release/apps/myApps/Era_oF/addons.make